@tailwind base;
@tailwind components;
@tailwind utilities;

/* global card style */
/* rounded-lg border-solid border-2 border-zinc-300 dark:border-zinc-600  bg-white dark:bg-black dark:text-white shadow-lg */
/* [url('../../src/images/logo/background.png')] */

.containerr{
    @apply mx-4;
}
.globalCardStyle {
    @apply rounded-2xl bg-white dark:bg-slate-800 shadow-2xl hover:shadow-xl transition-shadow mb-6 ;
}
.heading {
    @apply text-lg font-semibold dark:text-white text-zinc-500;
}
.subheading {
    @apply text-base font-semibold dark:text-white text-zinc-600;
}
.text-gray-800{
    color: rgb(31 41 55);
}	
.text-gray-500{
    color: rgb(107 114 128); 
}	
.text-gray-600{
    color: rgb(75 85 99);
}
.bg-gray-300{
    background-color: rgb(209 213 219);
}
.bg-gray-100{
    background-color: rgb(243 244 246);
}
.border-gray-300{
    border-color: rgb(209 213 219);
}
.bg-gray-50{
    background-color: rgb(249 250 251);
}
.standout{
    @apply dark:text-white text-3xl font-semibold text-gray-800 ;
}
.sub{
    @apply text-gray-500 dark:text-white;
}

.MainHeadings{
    @apply text-2xl font-semibold text-gray-800  dark:text-white;
}
.ch{
    @apply text-lg font-medium text-gray-600 dark:text-white ;
}
.tah{
    @apply bg-gray-100 text-gray-600 font-semibold dark:bg-black dark:text-white;
}
.tr{
    @apply hover:bg-blue-200 hover:cursor-pointer   dark:bg-black dark:text-white;
}
.sb{
    @apply bg-gray-100 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-400
}
.gh{
    @apply bg-gradient-to-r from-blue-300  to-blue-500 ;
}
h3{
    @apply dark:text-white;
}
p,div,span,select,textarea,input{
    @apply dark:text-white;
}
select{
    @apply bg-gray-100 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-400 dark:text-white dark:bg-black;
}
